/*--- General Styling ---*/

:root {
    --primary-color: #115fb0;
    --secondary-color: #fff;
    --text-color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size:16px;
    color: #fff;
}

h2 {
    font-size:16px;
    color:#fff
}

h3 {
    font-size:16px;
    color:#fff
}

h4 {
    font-size:16px;
    color: #fff;
}

h5 {
    font-size:16px;
    color: #fff;
}

h6 {
    font-size:16px;
    color: #fff;
}

p
{
    color: #fff;
}
ul,
li,
a,
span {
    font-size: 16px;
}
thead{
    color: #fff;
}
td {
color: #fff;
}

#nav-bar i:hover {
    color: #333;
}


#nav-bar a:hover {
    color: #0e28ac;
}

#nav-bar .logo {
    height:50px;
    color:#fff;
}

#home {
    background-image: url();
}

.banner-overlay {
    background: #115fb0;
    opacity: 50;
}
table {
    padding: 10px;
    margin: top 200px;
    border:10px dotted white;
}

.button {
display:inline-block;
background-color: #fff;
padding: 10px;
border-radius: 5px;
font-size: 16px;
margin-left: 10px;
}

.button p {
    color: #115fb0;
}